body {
  background-color: #b2cede;
  color: #5a716a;
  font-family: 'Open Sans', sans-serif;
  font-size: 400;
  line-height: 8px;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 500;
  line-height: 1;
  color: #ad7a99;
}

a {
  color: #ad7a99;
  text-decoration: none;
}

a:hover {
  color: black;
}

.img-circle {
  border-radius: 50%;
  border: 3px solid lightgrey;
}

.img-square {
  border-radius: 4px;
  border: 3px solid lightgrey;
}

.card-white {
  background-color: white;
  padding: 30px;
  margin: 20px;
  border: 1px solid lightgrey;
  text-align: center;
}

.btn-rectangular {
  background-color: #b2cede;
  padding: 4px 24px;
  border-radius: 4px;
}

.btn-menu {
  background-color: #b2cede;
  padding: 8px;
  border-radius: 4px;
}

.list-menu > li {
  display: inline-block;
  padding: 0px;
}

.list-menu {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}
